---
import { getEntry, type CollectionEntry } from 'astro:content';
import Base from '@/components/Base.astro';

const title =
  ( await getEntry('metadata', 'title') as CollectionEntry<'metadata'>
  ).data.value;

const description =
  ( await getEntry('metadata', 'description') as CollectionEntry<'metadata'>
  ).data.value;

const logo =
  ( await getEntry('metadata', 'logo') as CollectionEntry<'metadata'>
  ).data.value;

const tagline =
  ( await getEntry('metadata', 'tagline') as CollectionEntry<'metadata'>
  ).data.value;

const logoObject = await getEntry('files', logo) as CollectionEntry<'files'>;
---

<Base title={title} description={description} header={false}>
  <main class="snap-y snap-mandatory px-12 mx-auto container">
    <section
      id="hero"
      class="min-h-screen snap-center snap-always
        grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4 items-start content-center"
    >
      <div class="hero-text">
        <h1 class="text-4xl font-bold normal-case mb-2">{title}</h1>
        <p class="text-3xl">{tagline}</p>
      </div>
      <img
        id="hero-logo"
        class="max-w-xs"
        src={logoObject.data.url}
        alt={logoObject.data.description}
      />
    </section>

    <section
      id="info"
      class="min-h-screen text-3xl snap-always snap-center
        grid grid-cols-1 gap-x-4 gap-y-4 items-start content-center
        md:grid-cols-2 md:gap-y-24"
    >
      <h2 class="font-bold md:font-normal mt-0">about</h2>
      <div class="mb-8">
        <p class="inline mr-4">{description}</p>
        <a href="/about" class="btn">more</a>
      </div>

      <h2 class="font-bold md:font-normal mt-0">events</h2>
      <div id="calendarMessage" class="mb-8">
        {/* <p class="inline mr-4">No upcoming events for now. Check back soon for updates!</p> */}
        { /* TODO: client-side script for next upcoming event */}
        <a href="/calendar" class="btn">calendar</a>
      </div>

      <h2 id="media" class="font-bold md:font-normal mt-0">media</h2>
      <div class="mb-8 flex gap-x-4 flex-wrap">
        <a href="/music" class="btn">music</a>
        <a href="/photos" class="btn">photos</a>
        <a href="/videos" class="btn">videos</a>
        <a href="/catalogue" class="btn">catalogue</a>
      </div>
    </section>

    <section
      id="contact"
      class="min-h-screen text-3xl snap-always snap-center
        grid grid-cols-1 gap-x-4 gap-y-4 items-start content-center
        md:grid-cols-2 md:gap-y-24"
    >
      <h2 class="font-bold md:font-normal mt-0">contact</h2>
      <form
        name="contact"
        method="POST"
        class=""
        data-netlify="true"
      >
        <div class="mb-4">
          <label>
            name
            <input class="w-full p-2" type="text" name="name" required>
          </label>
        </div>
        <div class="mb-4">
          <label>
            email
            <input class="w-full p-2" type="email" name="email" required>
          </label>
        </div>
        <div class="mb-4">
          <label>
            subject
            <input class="w-full p-2" type="text" name="subject" required>
          </label>
        </div>
        <div class="mb-4">
          <label>
            message
            <textarea class="w-full p-2 h-48" name="message"></textarea>
          </label>
        </div>
        <button class="btn mt-4" type="submit">send</button>
      </form>
    </section>
  </main>
</Base>
