---
import Base from '@/components/Base.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Gallery from '@/components/Gallery.astro';
import MusicList from '@/components/MusicList.astro';
import VideoList from '@/components/VideoList.astro';

const {
  title,
  subtitle,
  description,
  photos,
  music,
  videos,
  start,
  end,
  summary
} = Astro.props;
---

<Base title={title} description={description}>
  <section
    class="text-3xl m-8
      grid grid-cols-1 gap-x-4 gap-y-24 items-start
      xl:grid-cols-2"
  >
    <section>
      <h1>{title}</h1>
      { subtitle && <p class="subtitle">{subtitle}</p> }
      { start &&
          <p class="date">
            <FormattedDate
              start={new Date(start)}
              end={end ? new Date(end) : undefined}
            />
          </p>
      }
      { summary && <p>{summary}</p> }
      <!-- ToC here -->
    </section>
    <article class="page">
      <slot />
      { music && <MusicList music={music} /> }
      { videos && <VideoList videos={videos} /> }
    </article>
  </section>
  { photos && <Gallery gallery={photos} /> }
</Base>
